<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LISTADO DE EMPLEADOS</title>
</head>
<body>
<h3>Usuario: <span th:text="${usuario.nombre}"></span> - Password: <span th:text="${usuario.password}"></span></h3>

<H1>LISTADO DE EMPLEADOS</H1>
    <table border="1">
        <thead>
            <tr><th> Id <th> Nombre <th> Apellido <th> Puesto <th> Salario <th> Borrar <th> Modificar
            </tr>
        </thead>
        <tbody>
        <tr th:if="${empleados.empty}">
            <td colspan="2"> No employees available </td>
        </tr>
        <tr th:each="empleado : ${empleados}">
            <td><span th:text="${empleado.id}"></span></td>
            <td><span th:text="${empleado.nombre}"></span></td>
            <td><span th:text="${empleado.apellido}"></span></td>
            <td><span th:text="${empleado.puesto}"></span></td>
            <td><span th:text="${empleado.salario}"></span></td>
            <td><a th:href="@{/borrar/}+${empleado.id}">Borrar</a></td>
            <td><a th:href="@{/modificar/}+${empleado.id}">Modificar</a></td>
        </tr>
        </tbody>
    </table>
    <form th:action="${action}" method="post">
        <br>ID: <input type="text" name="id" th:value="${empleado?.id}">
        NOMBRE: <input type="text" name="nombre" th:value="${empleado?.nombre}">
        APELLIDO: <input type="text" name="apellido" th:value="${empleado?.apellido}"><br>
        PUESTO: <input type="text" name="puesto" th:value="${empleado?.puesto}">
        SALARIO: <input type="text" name="salario" th:value="${empleado?.salario}">
        <input type="submit" name="submit" th:value="${boton}">
    </form>

</body>
</html>